.pagination__list {
    display: flex;
    justify-content: center;
}

.pagination__item {
    margin-right: 25px;    
}

.pagination__button,
.pagination__currentPage {
    background-color: sandybrown;
    padding: 25px;
}