:root {
    --main-color: #ffffff;
    --color-background-header: #e5e5e5;
    --color-warning: #ff001b;
    --color-active-button: #FF6B01;
    --color-footer-background: #f7f7f7;
    --color-footer-text: #545454;

    --transition-duration: 0.25s;
}