<footer class="footer">
    <div class="container footer__container">
        <p class="footer__text">
            &#169; 2022 | All Rights Reserved | 
        </p>
        <p class="footer__text">
            <span class="footer__text--on-tablet">&#169; 2022 | All Rights Reserved |&#160;</span>Developed with 
        </p>

        <svg class="img footer__img" width="14" height="14">
            <use href="./images/sprite.svg#icon-love"></use>
        </svg>

        <p class="footer__text">
            by&#160
        </p>

        <button type="button" class="footer__button">
            GoIT Students
        </button>
    </div>
</footer>