<header class="header">
    <div class="container header__container header__container--is-library">
        <include src="./partials/header-nav.html"></include>
        
        <ul class="list header__list header__libraryListBunnon">
            <li class="header__libraryButton--position">
                <button class="header__libraryButton" type="button">
                    Watched
                </button>
            </li>
            
            <li class="header__libraryButton--position">
                <button class="header__libraryButton" type="button">
                    Queue
                </button>
            </li>
        </ul>
    </div>
</header>