<section class="films" id="films">
  <div class="container">
    <div class="films__list"></div>
  </div>

  
  <ul class="list pagination__list">
    <li class="pagination__item">
      <button class="pagination__button pagination__button1">
        Back
      </button>
    </li>

    <li class="pagination__item">
      <button class="pagination__button pagination__button2">
        1
      </button>
    </li>

    <li class="pagination__item">
      <p class="pagination__dots1">
        ...
      </p>
    </li>

    <li class="pagination__item">
      <button class="pagination__button pagination__button3">
        -2
      </button>
    </li>

    <li class="pagination__item">
      <button class="pagination__button pagination__button4">
        -1
      </button>
    </li>

    <li class="pagination__item">
      <p class="pagination__currentPage">
        currentPage
      </p>
    </li>

    <li class="pagination__item">
      <button class="pagination__button pagination__button5">
        +1
      </button>
    </li>

    <li class="pagination__item">
      <button class="pagination__button pagination__button6">
        +2
      </button>
    </li>

    <li class="pagination__item">
      <p class="pagination__dots2">
        ...
      </p>
    </li>

    <li class="pagination__item">
      <button class="pagination__button pagination__button7">
        Last Page
      </button>
    </li>

    <li class="pagination__item">
      <button class="pagination__button pagination__button8">
        Forward
      </button>
    </li>
  </ul>
</section>
