<div class="backdrop is-hidden" data-modal-team>
  <!--  is-hidden -->
  <div class="modal-wrapper modal-team">
    <button class="modal-close-btn" data-modal-close-team>
      <!-- X -->
      <svg class="modal-btn__icon" width="24px" height="24px">
        <use xlink:href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal_inner">
      <h2 class="modal_title">our team</h2>
      <ul class="modal-list">
        <li class="modal-list_item">
          <a class="modal-list_link" href="#">
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/modal-team-temporary.jpg"
                alt="dhoto"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Team Lead</p>
                  <img src="./images/modal-team-temporary-paw.png" alt="" />
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Name Surname</span>
              <svg class="modal-list_icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="modal-list_item">
          <a class="modal-list_link" href="#">
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/modal-team-temporary.jpg"
                alt="dhoto"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Team Lead</p>
                  <img src="./images/modal-team-temporary-paw.png" alt="" />
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Name Surname</span>
              <svg class="modal-list_icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="modal-list_item">
          <a class="modal-list_link" href="#">
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/modal-team-temporary.jpg"
                alt="dhoto"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Team Lead</p>
                  <img src="./images/modal-team-temporary-paw.png" alt="" />
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Name Surname</span>
              <svg class="modal-list_icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="modal-list_item">
          <a class="modal-list_link" href="#">
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/modal-team-temporary.jpg"
                alt="dhoto"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Team Lead</p>
                  <img src="./images/modal-team-temporary-paw.png" alt="" />
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Name Surname</span>
              <svg class="modal-list_icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="modal-list_item">
          <a class="modal-list_link" href="#">
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/modal-team-temporary.jpg"
                alt="dhoto"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Team Lead</p>
                  <img src="./images/modal-team-temporary-paw.png" alt="" />
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Name Surname</span>
              <svg class="modal-list_icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="modal-list_item">
          <a class="modal-list_link" href="#">
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/modal-team-temporary.jpg"
                alt="dhoto"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Team Lead</p>
                  <img src="./images/modal-team-temporary-paw.png" alt="" />
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Name Surname</span>
              <svg class="modal-list_icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="modal-list_item">
          <a class="modal-list_link" href="#">
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/modal-team-temporary.jpg"
                alt="dhoto"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Team Lead</p>
                  <img src="./images/modal-team-temporary-paw.png" alt="" />
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Name Surname</span>
              <svg class="modal-list_icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
