<div class="container pagination__container" style="display: none;">
    <ul class="list pagination">
        <li class="pagination__item pagination__item--item1">
          <a class="pagination__button pagination__button--button1">
            <svg class="img pagination__img pagination__img1" width="16" height="16">
                <use href="./images/sprite.svg#icon-arrow-left"></use>
            </svg>
          </a>
        </li>
    
        <li class="pagination__item pagination__item--item2">
          <a class="pagination__button pagination__button--button2">
            1
          </a>
        </li>
    
        <li class="pagination__item pagination__item--item3">
            <div class="pagination__dots pagination__dots--dots1">
                <svg class="img" width="10" height="3">
                    <use href="./images/sprite.svg#icon-dots"></use>
                </svg>
            </div>
        </li>
    
        <li class="pagination__item pagination__item--item4">
          <a class="pagination__button pagination__button--button3">
            -2
          </a>
        </li>
    
        <li class="pagination__item pagination__item--item5">
          <a class="pagination__button pagination__button--button4">
            -1
          </a>
        </li>
    
        <li class="pagination__item pagination__item--item6">
          <p class="pagination__currentPage">
            0
          </p>
        </li>
    
        <li class="pagination__item pagination__item--item7">
          <a class="pagination__button pagination__button--button5">
            +1
          </a>
        </li>
    
        <li class="pagination__item pagination__item--item8">
          <a class="pagination__button pagination__button--button6">
            +2
          </a>
        </li>
    
        <li class="pagination__item pagination__item--item9">
            <div class="pagination__dots pagination__dots--dots2">
                <svg class="img" width="10" height="3">
                    <use href="./images/sprite.svg#icon-dots"></use>
                </svg>
            </div>
        </li>
    
        <li class="pagination__item pagination__item--item10">
          <a class="pagination__button pagination__button--button7">
            1000
          </a>
        </li>
    
        <li class="pagination__item pagination__item--item11">
          <a class="pagination__button pagination__button--button8">
            <svg class="img pagination__img pagination__img2" width="16" height="16">
                <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </li>
      </ul>
</div>